.card {
  padding: 0.5rem;
  overflow: hidden;
  width: min(16rem, 100%);
  width: 100%;
  width: clamp(15rem, 100%, 20rem);
  height: 22rem;
  background-color: #fff;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $rounded-small;
  border: 1px solid $color-violet;
  box-shadow: rgba($color-violet, 0.24) 0px 3px 8px;

  &:hover {
    box-shadow: rgba($color-violet, 0.25) 0px 50px 100px -20px,
      rgba($color-dark-violet, 0.3) 0px 30px 60px -30px;
  }

  &__image {
    height: 70%;
    position: relative;
    margin-bottom: 0.5rem;
  }

  &__text {
    flex: 1;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    color: $color-violet;
    font-weight: 700;
  }

  &__pricing {
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: 0.2rem;
    color: $color-violet;
  }

  &__box {
    display: flex;
  }
}
